*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/fisica2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    /*flex-wrap: nowrap;*/
}
    .container{
        width: 100%;
        height: auto;
        
    }
    .container:nth-child(1){
        /*background-color: rgb(79, 43, 112);*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
        .container__range{
            width: 30%;
            float: left;
            display: inline-block;
        }
        .container__range:nth-child(2){
            width: 40%;
        }
        .range{
            flex-basis: 100%;
            overflow: hidden;
            flex-grow: 1;
            background-color: #406418;
            text-align: center;
            padding: 5px 0;
        }
        .rango{
            padding: 0 10px;
        }
        .coord-canvas{
            width: 270px;
            height: auto;
            margin: 15px auto;
            padding: 10px;
        }

        .dibujo-canvas{
            background-color: green;
            border: 0px solid black;
            width: 600px;
            height: 300px;
            margin: 15px auto;
        }
            canvas{
                display: inline-block;
                width: 600px;
                height: 300px;

            }
    .container:nth-child(2){
        /*background-color: rgb(79, 43, 112);*/
    }
        .container__title{
            color: #efffc8;
            font-size: 20px;
            text-align: center;
            text-shadow: 1px 2px 3px #a5cbc3;
        }

        .container__article,
        .container__article__datos{
            overflow: hidden;
            background-color: #406418;
        }        
        .container__article__datos{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between; 
        }
        .containerVisible{
            transition: all .3s;
            display: none;
        }
        .container__article::after{
            clear: both;
        }
        .containers{
            width: 100%;
            margin: 10px auto;
            text-align: center;
        }
            .posX,
            .posY{
                background-color: #85cb33;
                width: 70%;
                margin: 10px auto;
                padding: 10px 10px;
                display: block;
                color: black;
                border-radius: 10px;
                text-align: left;
                box-shadow: 1px 2px 3px #efffc8;
            }
            .coord .posX,
            .coord .posY{
                width: 30%;
                margin: 0;
                padding: 0;
                margin: 10px auto;
                padding: 10px;
                text-align: left;
            }

    #volt{
        margin: 15px auto;
        color: white;
        width: 100%;
        background-color: gray;
        padding: 25px;
        font-size: 25px;
        border-radius: 10px;
        box-shadow: inset 0px 0px 20px 5px black;
        display: inline-block;
        text-align: right;
        float: right;
    }

        .container__article__lista{
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
        }
            .lista--text{
                width: 60%;
                text-transform: uppercase;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-shadow: 1px 2px 3px brown;
                font-size: 20px;
            }
            .voltaje{
                width: 15%;
                cursor: pointer;
            }
            .btn{
                text-transform: uppercase;
                cursor: pointer;
            }


/**

*/
#btn{
    cursor: pointer;
    display: block;
}
.selecion,
.coord{

    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.lista__li{
    list-style: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: gray;
    line-height: 30px;
    cursor: pointer;
}
#btn,
.lista__ul{
    margin: 10px 0;
}
.guardado{
    text-align: center;
    padding: 15px 0;
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 2%;
    bottom: 2%;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    transform: scale(1);
    transition: all .3s;
}

.circle:hover{
    box-shadow: 3px 4px 5px red;
    transform: scale(1.2);
}

.tabla{
    width: 100%;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    animation: animationModal 1s;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.table__value{
    width: 80%;
    height: auto;
}

@keyframes animationModal{
    from{ top: -500px; opacity: 0;}
    to{top: 0px; opacity: 1;}
}


table{
    border-collapse: collapse;
    margin: 0 auto;
}

tr{
    background-color: white;
}

th{
    padding: 15px;
}

tr:hover{
    background-color: #7cbd63;
}

thead tr, thead th{
    background-color: #296385;
    color: white;
}

.btn-calculo, .btn-cerrar{
    padding: 10px 25px;
    margin: 10px 15px;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all .3s;
}

.btn-select{
    outline: none;
    padding: .5em 1em;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 900;
    font-size: 20px;
    transition: all .3s;
}
.btn-select:hover{
    box-shadow: 2px 3px 4px black;
}

.btn-calculo{
    background-color: green;
}

.btn-calculo:hover{
    background-color: rgba(0, 128, 0, .7);
}   

.btn-cerrar{
    background-color: red;
}

.btn-cerrar:hover{
    background-color: rgba(255, 0, 0, .7);
}